<?xml version="1.0"?>
<CamContainer xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Tools>
    <Tool>
      <Number>1</Number>
      <Diameter>429</Diameter>
      <Thickness>1.5</Thickness>
    </Tool>
    <Tool>
      <Number>2</Number>
      <Diameter>450</Diameter>
      <Thickness>1.5</Thickness>
    </Tool>
    <Tool>
      <Number>3</Number>
      <Diameter>500</Diameter>
      <Thickness>2</Thickness>
    </Tool>
    <Tool>
      <Number>4</Number>
      <Diameter>600</Diameter>
      <Thickness>3</Thickness>
    </Tool>
  </Tools>
  <TechProcessParams>
    <Machine>ScemaLogic</Machine>
    <Material>Мрамор</Material>
    <BilletThickness>30</BilletThickness>
    <ZSafety>20</ZSafety>
    <PenetrationRate>250</PenetrationRate>
    <Frequency>2000</Frequency>
    <ToolNumber>1</ToolNumber>
    <ToolDiameter>100</ToolDiameter>
    <ToolThickness>5</ToolThickness>
  </TechProcessParams>
  <SawingLineTechOperationParams>
    <Modes>
      <SawingMode>
        <Depth>0</Depth>
        <DepthStep>10</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
    </Modes>
    <IsFirstPassOnSurface>false</IsFirstPassOnSurface>
  </SawingLineTechOperationParams>
  <SawingCurveTechOperationParams>
    <Modes>
      <SawingMode>
        <Depth>0</Depth>
        <DepthStep>3</DepthStep>
        <Feed>4000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth>30</Depth>
        <DepthStep>2</DepthStep>
        <Feed>3000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth>60</Depth>
        <DepthStep>2</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
    </Modes>
    <IsFirstPassOnSurface>true</IsFirstPassOnSurface>
  </SawingCurveTechOperationParams>
</CamContainer>