<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MachineSettingsList>
    <MachineSettings>
      <MachineType>ScemaLogic</MachineType>
      <Tools>
        <Tool>
          <Number>1</Number>
          <Type>Disk</Type>
          <Diameter>400</Diameter>
          <Thickness>7</Thickness>
        </Tool>
        <Tool>
          <Number>2</Number>
          <Type>Mill</Type>
          <Diameter>0</Diameter>
          <Thickness xsi:nil="true" />
        </Tool>
      </Tools>
      <MaxFrequency>3000</MaxFrequency>
      <ZSafety>20</ZSafety>
      <ProgramFileExtension>csv</ProgramFileExtension>
    </MachineSettings>
    <MachineSettings>
      <MachineType>Donatoni</MachineType>
      <Tools>
        <Tool>
          <Number>1</Number>
          <Type>Disk</Type>
          <Diameter>400</Diameter>
          <Thickness>5</Thickness>
        </Tool>
        <Tool>
          <Number>2</Number>
          <Type>Mill</Type>
          <Diameter>100</Diameter>
          <Thickness xsi:nil="true" />
        </Tool>
      </Tools>
      <MaxFrequency>5000</MaxFrequency>
      <ZSafety>20</ZSafety>
      <ProgramFileExtension>pgm</ProgramFileExtension>
    </MachineSettings>
    <MachineSettings>
      <MachineType>Krea</MachineType>
      <Tools />
      <MaxFrequency>10000</MaxFrequency>
      <ZSafety>20</ZSafety>
      <ProgramFileExtension>txt</ProgramFileExtension>
    </MachineSettings>
  </MachineSettingsList>
  <SawingTechProcessParams>
    <PenetrationFeed>200</PenetrationFeed>
    <SawingLineModes>
      <SawingMode>
        <Depth>0</Depth>
        <DepthStep>10</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
    </SawingLineModes>
    <SawingCurveModes>
      <SawingMode>
        <Depth>0</Depth>
        <DepthStep>3</DepthStep>
        <Feed>4000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth>30</Depth>
        <DepthStep>2</DepthStep>
        <Feed>3000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth>60</Depth>
        <DepthStep>2</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
    </SawingCurveModes>
  </SawingTechProcessParams>
  <TactileTechProcessParams>
    <BandWidth>25</BandWidth>
    <BandSpacing>25</BandSpacing>
    <BandStart>37.5</BandStart>
    <Depth>6</Depth>
    <Departure>150</Departure>
    <TransitionFeed>2000</TransitionFeed>
    <PenetrationFeed>200</PenetrationFeed>
    <CuttingFeed>8000</CuttingFeed>
    <FinishingFeed>10000</FinishingFeed>
  </TactileTechProcessParams>
</Settings>