<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ToolsScemaLogic>
    <Tool>
      <Number>1</Number>
      <Type>Disk</Type>
      <Diameter>400</Diameter>
      <Thickness>7</Thickness>
    </Tool>
    <Tool>
      <Number>2</Number>
      <Type>Mill</Type>
      <Diameter>0</Diameter>
      <Thickness xsi:nil="true" />
    </Tool>
    <Tool>
      <Number>3</Number>
      <Type>Disk</Type>
      <Diameter>600</Diameter>
      <Thickness>8</Thickness>
    </Tool>
  </ToolsScemaLogic>
  <ToolsDonatoni>
    <Tool>
      <Number>1</Number>
      <Type>Disk</Type>
      <Diameter>400</Diameter>
      <Thickness>5</Thickness>
    </Tool>
    <Tool>
      <Number>2</Number>
      <Type>Mill</Type>
      <Diameter>100</Diameter>
      <Thickness xsi:nil="true" />
    </Tool>
  </ToolsDonatoni>
  <ToolsKrea />
  <MachineSettings>
    <MachineSettings>
      <MachineType>ScemaLogic</MachineType>
      <MaxFrequency>3000</MaxFrequency>
      <ProgramFileExtension>csv</ProgramFileExtension>
      <ProgramLineNumberFormat>{0};</ProgramLineNumberFormat>
    </MachineSettings>
    <MachineSettings>
      <MachineType>Donatoni</MachineType>
      <MaxFrequency>5000</MaxFrequency>
      <ProgramFileExtension>pgm</ProgramFileExtension>
      <ProgramLineNumberFormat>N{0} </ProgramLineNumberFormat>
    </MachineSettings>
    <MachineSettings>
      <MachineType>Krea</MachineType>
      <MaxFrequency>10000</MaxFrequency>
      <ProgramFileExtension>txt</ProgramFileExtension>
      <ProgramLineNumberFormat>N{0} </ProgramLineNumberFormat>
    </MachineSettings>
    <MachineSettings>
      <MachineType>CableSawing</MachineType>
      <ProgramFileExtension>txt</ProgramFileExtension>
      <ProgramLineNumberFormat>{0} </ProgramLineNumberFormat>
    </MachineSettings>
  </MachineSettings>
  <SawingTechProcessParams>
    <PenetrationFeed>200</PenetrationFeed>
    <SawingLineModes>
      <SawingMode>
        <Depth xsi:nil="true" />
        <DepthStep>10</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
    </SawingLineModes>
    <SawingCurveModes>
      <SawingMode>
        <Depth>30</Depth>
        <DepthStep>2</DepthStep>
        <Feed>3000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth>60</Depth>
        <DepthStep>2</DepthStep>
        <Feed>2000</Feed>
      </SawingMode>
      <SawingMode>
        <Depth xsi:nil="true" />
        <DepthStep>1</DepthStep>
        <Feed>1000</Feed>
      </SawingMode>
    </SawingCurveModes>
  </SawingTechProcessParams>
  <TactileTechProcessParams>
    <BandWidth>25</BandWidth>
    <BandSpacing>25</BandSpacing>
    <BandStart>37.5</BandStart>
    <Depth>6</Depth>
    <Departure>150</Departure>
    <TransitionFeed>2000</TransitionFeed>
    <PenetrationFeed>200</PenetrationFeed>
    <CuttingFeed>8000</CuttingFeed>
    <FinishingFeed>10000</FinishingFeed>
  </TactileTechProcessParams>
</Settings>